@charset "UTF-8";

* {
  margin: 0;
  background-color: rgba(14, 13, 13, 0.911); }

body {
  background-color: black;
  align-content: center; }

/* ESTILO MENÚ CON SUBMENÚ */
header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0; }

div .logo {
  width: 16vw;
  display: block; }

#btn-menu{
  display: none;
  
}

header label img{
  display: none;
  width: 40px;
  height: 40px;
  margin-right: 10px;
    
}

header label:hover {
  cursor: pointer;
  background: rgb(236, 184, 12, 0.5);
}
header nav {
  display: flex; }
  
.Menu {
  list-style: none;
  display: flex; }

.Menu li {
  display: flex;
  position: relative;
  font-size: 0.9rem;
  justify-content: space-around;
  padding: 0.3rem;
  margin-right: 10px; }

.Menu li:hover {
  color: #eec12c; }

ul li:hover ul {
  margin-top: 2rem; }

ul.Menu ul {
  position: absolute;
  display: none; }

ul ul li.subMenu {
  display: block;
  padding-top: 5px;
  border: none; }

ul li:hover ul {
  display: block;
  box-shadow: 3px 3px grey; }

nav ul li a:link {
  text-decoration: none; }

nav ul li a {
  list-style: none;
  color: white;
  font-variant: small-caps;
  font-stretch: semi-expanded;
  /*Subrayado animado*/
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s; }

a:hover, a:focus {
  background-size: 100% 2px;
  color: #eec12c;
  box-shadow: inset; }


.imagen {
  width: 100%;
  border-top: white 100%;
  border-top-style: ridge;
  padding-top: 5px;
  text-align: center; }

.imagen__img {
  height: 80vh;
  width: 90%; }

.imagen img:hover {
  opacity: 0.7; }

.imagen__h2 {
  position: absolute;
  top: 120px;
  left: 66px;
  background-color: transparent;
  font-size: 1.5rem;
  color: white;
  margin-right: 20px; }

h4 {
  color: #eec12c;
  font-family: 'Lora', serif;
  font-size: 1.2em; }

.centro {
  float: none;
  font-size: 1em;
  font-family: 'Lora', serif;
  line-height: 25px;
  color: white;
  font-weight: 300;
  padding: 20px 10px;
  margin-left: 10px;
  text-align: justify; }

.centro h1 {
  color: #eec12c;
  font-family: 'Lora', serif;
  margin-top: 40px;
  font-size: 1.3em; }

.division {
  padding-top: 20px;
  padding-bottom: 10px;
  text-transform: uppercase; }

h2 {
  color: #eec12c;
  font-family: 'Lora', serif;
  text-align: center;
  padding-bottom: 30px; }

  h1 {
    color:whitesmoke;
    font-family: 'Lora', serif;
    text-align: center;
    padding-bottom: 30px; 
    margin-bottom: 20px;
  }
  
.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 60px;
  justify-content: center;
  margin-right: 5px; 
  margin-left: 5px;}

.grid img {
  width: 100%;
  padding: 10px;
  box-shadow: box-shadow(10px 10px 5px 0px rgba(0, 0, 0, 0.75)); }

.scale:hover {
  transform: scale(1.4);
  transition: transform 1s;
  cursor: pointer; }

form {
  border-top: white 100%;
  border-top-style: ridge;
  padding: 20px 20px 20px 40px;
  color: white;
  margin-top: 80px;
  line-height: 30px; }

form h3 {
  color: white;
  padding-bottom: 20px; }

.clientes {
  display: flex;
  justify-content: space-around;
  padding: 70px;
  /* margin-left: 20px;
  margin-right: 20px; */
  background: linear-gradient(rgba(78, 57, 14, 0.979), rgba(155, 154, 152, 0.158));
  flex-wrap: wrap;
  font-style: italic;
  font-weight: bolder;
  font-size: 1.1rem;
  text-align: center; }

.Cliente1 {
  border-radius: 15px 50px;
  background: #eec12c;
  padding: 20px;
  width: 200px;
  margin-top: 20px; }

.Cliente1:hover, :focus {
  background: #dfd4b1; }

.Boton {
  background-color: #eec12c; }

.Boton:hover, :focus form {
  background: #edbd0a;
  background: radial-gradient(circle, rgba(237, 189, 10, 0.913603) 44%, #61615f 100%); }

.pie_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 10px;
  align-items: center;
  padding: 10px;
  justify-items: center; }

   
  .pie_grid nav ul li a {
    list-style: none;
    color: white;
    font-variant: small-caps;
    font-stretch: semi-expanded;
    background-image: none;
    
     }
  
    /* .pie_grid ul li:hover ul {
      margin-top: 2px; }
   */
.pie_grid a:hover, a:focus {
   color: #eec12c;
  

  }

  .pie_grid ul li:hover ul {
    
    box-shadow:none; }
.redes {
  display: inline-flex; 
}

.redes img {
  height: 30px;
  width: 30px;
  margin-right: 40px; } 

.centroQuienesSomos {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;}

.centroQuienesSomos__img {
  width: auto;
  padding: 10px 10px;
  margin:0,5px;
  border-radius: 30px; }

.centroQuienesSomos p {
  margin-bottom: 10px;
  margin-top: 40px;
  color: white;
  font-size: 1em;
  font-family: 'Lora', serif;
  line-height: 25px;
  margin-left: 10px;
  text-align: justify;
  padding-right: 20px; }

.galeria {
  display: flex;
  width: 90vw;
  margin: 20px 20px;
  flex-wrap: wrap;
  justify-content: center; }

.galeria__img {
  height: auto;
  width: 280px;
  height: 230px;
  box-shadow: box-shadow(10px 10px 5px 0px rgba(0, 0, 0, 0.75));
  padding: 10px; }

.galeria_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, auto);
  margin-top: 30px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: center;
  padding: 10px;
  justify-items: center; }

.galeria_grid img {
  height: auto;
  width: 250px;
  box-shadow: box-shadow(10px 10px 5px 0px rgba(0, 0, 0, 0.75)); }

.rotate:hover {
  transform: rotateZ(-45deg);
  transition: transform 1s;
  cursor: pointer; }


@media (max-width:768px){
  header label img{
    display: block;
       
  }

  .Menu {
    
    position: absolute;
    margin-left:-200%;
    flex-direction: column;
    border-top: 1px solid #fff;
    z-index: 1000;
  }

  ul li:hover ul {
    margin-top: 0.5rem;
    margin-right: 14rem; 
 }
 

#btn-menu:checked ~ .Menu {
    display: block;
    margin-left:68% ;
    margin-top: 45px;
        
  } }

@media only screen and (min-width: 768px) {

  .imagen__h2 {
    top: 280px;
    font-size: 1.8rem;}
  .galeria_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px; }

  .Menu li {
    font-size: 1rem;
    padding: 0.3rem; }

  div .logo {
    width: 10vw; }

  .centro {  
    font-size: 1.2em;
    width: 60%; } 

  .grid {
  margin-right: 9%; 
  margin-left: 9%;
  }
    
  .grid img {
    width: 80%;
    padding: 10px;}
  .centroQuienesSomos {
    flex-direction: row; }
  .centroQuienesSomos img {
    margin:10px;
    width: 50vw;
    height: 40vh;
    padding: 10px 20px; }
  .centroQuienesSomos p {
    font-size: 1.3em; }
  
  .pie_grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1, auto);
    grid-column-gap: 10px;

  }
  }

    
@media only screen and (min-width: 1100px) {
  .galeria_grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto); }

  .Menu li {
    padding: 0.5rem; }

  div .logo {
    width: 10vw; }

  .centro {
    float: left;
    font-size: 1.3em;
    width: 50%; }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto); } 

  .grid img {
    width: 100%;
    padding: 10px;
  }

  .pie_grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1, auto);
    grid-column-gap: 10px;

  }
}