@charset "UTF-8";
ul.Menu {
  list-style: none;
  display: flex; }

.Menu li {
  display: flex;
  position: relative;
  font-size: 0.8rem;
  justify-content: space-around;
  padding: 0.3rem;
  margin-right: 10px; }

.Menu li:hover {
  color: #eec12c; }

ul li:hover ul {
  margin-top: 2rem; }

ul.Menu ul {
  position: absolute;
  display: none; }

ul ul li.subMenu {
  display: block;
  padding-top: 5px;
  border: none; }

ul li:hover ul {
  display: block;
  box-shadow: 3px 3px grey; }

nav ul li a:link {
  text-decoration: none; }

nav ul li a {
  list-style: none;
  color: white;
  font-variant: small-caps;
  font-stretch: semi-expanded;
  /*Subrayado animado*/
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s; }

a:hover, a:focus {
  background-size: 100% 2px;
  color: #eec12c;
  box-shadow: inset; }

* {
  margin: 0;
  background-color: rgba(14, 13, 13, 0.911); }

body {
  background-color: black;
  align-content: center; }

/* ESTILO MENÚ CON SUBMENÚ */
header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0; }

div .logo {
  width: 12vw;
  display: block; }

header nav {
  display: flex; }

 
.imagen {
  width: 100%;
  border-top: white 100%;
  border-top-style: ridge;
  padding-top: 5px;
  text-align: center; }

.imagen__img {
  height: 80vh;
  width: 90%; }

.imagen img:hover {
  opacity: 0.7; }

.imagen__h2 {
  position: absolute;
  top: 120px;
  left: 66px;
  background-color: transparent;
  font-size: 1.5rem;
  color: white;
  margin-right: 20px; }

h4 {
  color: #eec12c;
  font-family: 'Lora', serif;
  font-size: 1.2em; }

.centro {
  float: none;
  font-size: 0.90em;
  font-family: 'Lora', serif;
  line-height: 25px;
  color: white;
  font-weight: 300;
  padding: 20px 10px;
  text-align: justify; }

.centro h1 {
  color: #eec12c;
  font-family: 'Lora', serif;
  margin-top: 40px;
  font-size: 1.3em; }

.division {
  padding-top: 20px;
  padding-bottom: 10px;
  text-transform: uppercase; }

h2 {
  color: #eec12c;
  font-family: 'Lora', serif;
  text-align: center;
  padding-bottom: 30px; }

  h1 {
    color:whitesmoke;
    font-family: 'Lora', serif;
    text-align: center;
    padding-bottom: 30px; 
    margin-bottom: 20px;
  }
  
.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 60px;
  justify-content: center;
  margin-right: 5px; 
  margin-left: 5px;}

.grid img {
  width: 100%;
  padding: 10px;
  box-shadow: box-shadow(10px 10px 5px 0px rgba(0, 0, 0, 0.75)); }

.scale:hover {
  transform: scale(1.4);
  transition: transform 1s;
  cursor: pointer; }

form {
  border-top: white 100%;
  border-top-style: ridge;
  padding: 20px 20px 20px 40px;
  color: white;
  margin-top: 80px;
  line-height: 30px; }

form h3 {
  color: white;
  padding-bottom: 20px; }

.clientes {
  display: flex;
  justify-content: space-between;
  padding: 70px;
  margin-left: 20px;
  margin-right: 20px;
  background: linear-gradient(rgba(138, 95, 10, 0.979), rgba(155, 154, 152, 0.158));
  flex-wrap: wrap;
  font-style: italic;
  font-weight: bolder;
  font-size: 1.1rem;
  text-align: center; }

.Cliente1 {
  border-radius: 15px 50px;
  background: #eec12c;
  padding: 20px;
  width: 200px;
  margin-top: 20px; }

.Cliente1:hover, :focus {
  background: #dfd4b1; }

.Boton {
  background-color: #eec12c; }

.Boton:hover, :focus form {
  background: #edbd0a;
  background: radial-gradient(circle, rgba(237, 189, 10, 0.913603) 44%, #61615f 100%); }

.pie {
  display: flex;
  justify-content: space-between;
  border-top: white 100%;
  border-top-style: inset;
  padding-top: 5px; }

.redes {
  display: inline-flex; }

.redes img {
  height: 30px;
  width: 30px;
  margin-right: 40px; }

.centroQuienesSomos {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;}

.centroQuienesSomos__img {
  width: auto;
  padding: 10px 10px;
  margin:0,5px;
  border-radius: 30px; }

.centroQuienesSomos p {
  margin-bottom: 10px;
  margin-top: 40px;
  color: white;
  font-size: 1em;
  font-family: 'Lora', serif;
  line-height: 25px;
  margin-left: 10px;
  text-align: justify;
  padding-right: 20px; }

.galeria {
  display: flex;
  width: 90vw;
  margin: 20px 20px;
  flex-wrap: wrap;
  justify-content: center; }

.galeria__img {
  height: auto;
  width: 250px;
  box-shadow: box-shadow(10px 10px 5px 0px rgba(0, 0, 0, 0.75));
  padding: 10px; }

.galeria_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, auto);
  margin-top: 30px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: center;
  padding: 10px;
  justify-items: center; }

.galeria_grid img {
  height: auto;
  width: 250px;
  box-shadow: box-shadow(10px 10px 5px 0px rgba(0, 0, 0, 0.75)); }

.rotate:hover {
  transform: rotateZ(-45deg);
  transition: transform 1s;
  cursor: pointer; }



@media only screen and (min-width: 768px) {

  .imagen__h2 {
    top: 280px;
    font-size: 1.8rem;}
  .galeria_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px; }
  .Menu li {
    font-size: 1rem;
    padding: 0.3rem; }
  div .logo {
    width: 10vw; }
  .centro {
    float: left;
    font-size: 1em;
    width: 60%; }
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto); }
  .grid img {
    width: 50%;
    padding: 5px;}
  .centroQuienesSomos {
    flex-direction: row; }
  .centroQuienesSomos img {
    margin:10px;
    width: 50vw;
    height: 40vh;
    padding: 10px 20px; }
  .centroQuienesSomos p {
    font-size: 1.3em; } }

    
@media only screen and (min-width: 1100px) {
  .galeria_grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto); }
  .Menu li {
    padding: 0.5rem; }
  div .logo {
    width: 10vw; }
  .centro {
    float: left;
    font-size: 1.3em; }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto); } 
  .grid img {
    width: 100%;
    padding: 10px;
  }
}